* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 2em auto;
    margin: 10px 0px;
    border: 20px solid rgb(221, 214, 214);
    border-radius: 50px;
}


.header {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    margin: 10px auto;
}

.header .logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 10px;
    font-size: 36px;
}

.header .logo img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.header .hello {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    padding: 20px;
    gap: 10px;
}

.header .hello img {
    width: 50px;
    height: 50px;
}

.header .search-bar {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    padding: 20px;
    width: 50%;
    height: 70px;
    border-radius: 50px;
    box-shadow: 0px 0px 5px .5px;
    background: rgb(249, 247, 247);
}

.header .search-bar input {
    position: relative;
    font-size: 32px;
    color: #000;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    height: 60px;
    border: none;
    background: transparent;


}

.header .search-bar i {
    align-items: center;
    left: 110px;
    width: 70px;
    height: 60px;
    padding: 15px;
    color: rgb(110, 110, 110);
    font-size: 34px;
    cursor: pointer;
}

.header .profile {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.header .profile i {
    font-size: 40px;
    color: rgb(149, 136, 136);
    cursor: pointer;
}

.header .profile-img {
    display: inline-flex;
    align-items: center;
    gap: 20px;

}

.header .profile-img img {
    border-radius: 20px;
    width: 80px;
    height: 80px;
}

.main {
    display: flex;
    position: relative;
    width: 100%;
    gap: 20px;
    padding: 20px;
    border-top: .5px solid rgb(186, 180, 180);

}

.side-nav {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
    width: 15%;
    border-right: .5px solid rgb(186, 180, 180);

}

.side-nav ul {
    display: flex;
    gap: 30px;
    position: relative;
    flex-direction: column;
    width: 100%;

}

.side-nav ul li {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    border-bottom: 2px solid rgb(158, 140, 140);

}

.side-nav ul li p {
    font-size: 32px;
    color: rgb(149, 136, 136);

}

.side-nav ul li a {
    display: flex;
    align-items: center;
    margin: 10px;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    font-size: 32px;
    font-weight: 400;
    color: rgb(109, 93, 93);
    transition: .5s;
    border-radius: 10px;
    margin-bottom: 25px;
}

.side-nav ul li a i {
    margin-right: 15px;
    font-size: 32px;
}

.active, .side-nav ul li a:hover {
    background: #02141b;
    color: #fff;


}


.login {
    display: inline-flex;
    position: absolute;
    bottom: 0;
    align-items: center;
    width: 100%;
    height: 100px;
    font-size: 36px;
}

.login a {
    transition: .5s;
    color: red;
    text-decoration: none;
}

.login a:hover {
    background: #f9c1c1;
    padding: 10px 20px;
    border-radius: 10px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 20px;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(images/bg-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    padding: 20px;
    border-radius: 10px;

}

.dialog {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    padding: 20px;
    color: #fdfdfc;
    font-size: 48px;
}

.search-bx {
    display: flex;
    gap: 20px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    top: -100px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 5px .5px;
    border: none;
    z-index: 1;
}

.select-opts {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    width: 30%;

}

.select-btn {
    display: inline-flex;
    justify-content: space-between;
    width: 300px;
    padding: 10px;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 5px .5px;
    transition: .5s;
}

.select-btn:hover {
    background: #000;
    color: #fff;
    border-radius: 5px;

}

.search-btn {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 10px 70px;
    border-radius: 50px;
    background: #292727;
    color: #fff;
    font-size: 24px;
    top: 25px;
    transition: .3s;
    box-shadow: 1px 1px 5px .5px;
}

.search-btn:hover {
    background: #fff;
    color: #000;
}

.product-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

}

.product-container .header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.product-container .header a {
    display: inline-flex;
    color: #000;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid;
    padding: 10px;
    transition: .3s;

}

.product-container .header a:hover {
    background: #000;
    color: #fff;
    border-radius: 10px;
}


.product-container .header a span {
    color: #969494;
    margin-left: 8px;
    font-size: 24px;
    font-weight: 600;

}

.product-container-nav {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

.furniture-items {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: .5px solid rgb(216, 210, 210);
}

.furniture-items ul {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;

}

.furniture-items ul li {
    display: flex;
    gap: 50px;
    list-style: none;
    align-items: center;
}

.furniture-items ul li a {
    color: #bcb5b5;
    text-decoration: none;
    padding: 10px;
    font-size: 32px;
    transition: .3s;

}

.selected, .furniture-items ul li a:hover {
    border-bottom: 1px solid #918a8a;
    color: #000;
}

.sort-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    width: 320px;

}

.sort-btn .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: .3s;
    font-size: 18px;
    box-shadow: 0px 0px 5px .5px;
}

.sort-btn .btn:hover {
    background: #000;
    color: #fff;
}

.furniture-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.furniture {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 550px;
    margin: 10px auto;
}

.sofa-chair {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 20px;

}

.sofa-chair img {
    width: 100%;
    height: 450px;
}

.items {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    width: 70%;
    font-size: 24px;
}

.items a {
    display: flex;
    position: relative;
    top: -15px;
    cursor: pointer;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 4px solid gray;
    padding: 10px;
    transition: .5s;
}

.items a span {
    font-size: 20px;
    font-weight: 600;
    color: #969494;
    margin-left: 5px;
}

.items a:hover {
    background: #000;
    color: #fff;
    border-radius: 8p x;
}

.rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.star {
    gap: 10px;
    font-size: 20px;
    color: #928a8a;
}

.checked {
    color: orange;
}

/*======= mobile section ======== */
.mobile {
    display: none;
    flex-direction: column;
    width: 100%;
}

header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    border-bottom: .5px solid rgb(175, 169, 169);
}

header i {
    font-size: 20px;
    color: gray;
}

header img {
    width: 80px;
    height: 80px;
    border-radius: 25px;
}

.text {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 10px;
}

.text h1 {
    display: flex;
    line-height: 40px;
    font-size: 32px;
    font-weight: 500;

}

.text img {
    display: flex;
    position: relative;
    width: 180px;
    height: 110px;
    border-radius: 8px;
}

.mobile-search {
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.mobile-search-bar {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
    padding: 10px;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0px 0px 5px .5px;
    background: #fff;
}

.mobile-search-bar input {
    position: relative;
    font-size: 16px;
    color: #000;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    background: transparent;
}

.mobile-search-bar i {
    align-items: center;
    left: 20px;
    padding: 10px;
    color: rgb(110, 110, 110);
    font-size: 12px;
    cursor: pointer;
}

.slider-icon {
    font-size: 20px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    padding: 15px 20px;
    cursor: pointer;
}

.sales-record {
    display: inline-flex;
    width: 100%;
}

.sales-record ul {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    gap: 10px;
}

.sales-record ul li {
    display: inline-flex;
    list-style: none;
    align-items: center;
}

.sales-record ul li a {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #bcb5b5;

}


/* ========================== */

/* ========Responsive For Mobile======== */


@media screen and (max-width:767px) {

    body {
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px;
        border: none;
    }

    .mobile {
        display: block;
    }

    .header {
        display: none;
    }

    .search-bx {
        display: none;
    }

    .banner {
        display: none;
    }

    .side-nav {
        display: none;
    }

    .product-container .header {
        display: none;
    }

    .product-container-nav {
        display: none;
    }

    .furniture-items {
        display: none;
    }

    .hero {
        margin: 0;
        padding: 0;
    }

    .main {
        margin: 0;
        padding: 10px;
    }

    .furniture-container {
        margin-top: 20px;
    }

    .furniture {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        margin: 0;
        padding: 0;
        height: auto;
        border: none;
    }

    .sofa-chair {
        width: 100%;
        height: auto;
        padding: 0px;
        gap: 20px;
    }
    .sofa-chair img{
        height: 300px;
    }
    .sofa-chair img {
        width: 100%;
    }

    .item-details p {
        font-size: 14px;
    }

    .items a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
        width: 150px;
        font-size: 14px;
    }

    .items a span {
        font-size: 16px;
        font-weight: 800;
        margin-left: 1px;
        color: #363738;

    }

    .rating span {
        font-size: 14px;
    }
}

/*===Responsive for Tab and Laptop  screen=== */


@media screen and (max-width: 990px) and (min-width:767px) {

    body {
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px;
        border: none;
    }

    .mobile {
        display: block;
    }

    .header {
        display: none;
    }

    .search-bx {
        display: none;
    }

    .banner {
        display: none;
    }

    .side-nav {
        display: none;
    }

    .product-container .header {
        display: none;
    }

    .product-container-nav {
        display: none;
    }

    .furniture-items {
        display: none;
    }

    .hero {
        margin: 0;
        padding: 0;
    }

    .main {
        margin: 0;
        padding: 10px;
    }

    .furniture-container {
        margin-top: 20px;
    }

    .furniture {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        margin: 0;
        padding: 0;
        height: auto;
        border: none;
    }

    .sofa-chair {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0px;
        width: 100%;
        height: auto;


    }

    .sofa-chair img {
        width: 100%;
    }

    .item-details p {
        font-size: 16px;
    }

    .items a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
        width: 150px;
        font-size: 14px;
    }

    .items a span {
        font-size: 16px;
        font-weight: 800;
        margin-left: 2px;
        color: #363738;

    }

    .rating span {
        font-size: 16px;
    }
}
