* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em auto;
    border: 20px solid rgb(221, 214, 214);
    border-radius: 50px;
}


header {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    margin: 10px auto;
}

.logo {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    width: 300px;
    font-size: 36px;
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.hello {
    display: inline-flex;
    align-items: center;
    font-size: 36px;
    padding: 10px;
    gap: 10px;
}

.hello img {
    width: 50px;
    height: 50px;
}

.search-bar {
    display: inline-flex;
    align-items: center;
    margin: 10px 20px;
    padding: 10px;
    width: 30%;
    height: 60px;
    border-radius: 50px;
    border: .5px solid grey;
    background: rgb(247, 244, 244);
}

.search-bar input {
    position: relative;
    font-size: 32px;
    color: #000;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    height: 60px;
    border: none;
    background: transparent;


}

.search-bar i {
    align-items: center;
    left: 110px;
    width: 70px;
    height: 60px;
    padding: 15px;
    color: rgb(110, 110, 110);
    font-size: 34px;
    cursor: pointer;
}

.profile {
    display: inline-flex;
    align-items: center;
    gap: 80px;
    padding: 10px;
}

.profile i {
    font-size: 40px;
    color: rgb(149, 136, 136);
    cursor: pointer;
}

.profile-img {
    display: inline-flex;
    align-items: center;
    gap: 20px;

}

.profile-img img {
    border-radius: 20px;
    width: 80px;
    height: 80px;
}

.main {
    display: flex;
    position: relative;
    width: 100%;
    gap: 20px;
    padding: 20px;
    border-top: .5px solid rgb(186, 180, 180);

}

.side-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    padding: 20px;
    width: 12%;
    border-right: .5px solid rgb(186, 180, 180);

}

.side-nav ul {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 90%;

}

.side-nav ul li {
    display: flex;
    flex-direction: column;
    list-style: none;
    border-bottom: 2px solid rgb(158, 140, 140);
    gap: 20px;

}

.side-nav ul li p {
    font-size: 32px;
    color: rgb(149, 136, 136);

}

.side-nav ul li a {
    display: flex;
    margin-bottom: 20px;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 32px;
    font-weight: 400;
    color: rgb(109, 93, 93);
    transition: .5s;
    border-radius: 15px;
}

.active, .side-nav ul li a:hover {
    background: #02141b;
    color: #fff;


}

.side-nav ul li a i {
    font-size: 32px;
    margin-right: 20px;
}

.login {
    display: inline-flex;
    position: absolute;
    bottom: 0;
    align-items: center;
    width: 100%;
    height: 100px;
    font-size: 36px;
}

.login a {
    transition: .5s;
    color: red;
}

.login a:hover {
    background: #f9c1c1;
    padding: 10px 20px;
    border-radius: 10px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    padding: 20px;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    background-image: url(images/bg-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.dialog {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    padding: 20px;
    color: #fdfdfc;
    font-size: 48px;
}

.search-bx {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: -100px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    border: 1px solid grey;
    z-index: 1;
}

.select-opts {
    display: inline-flex;
    gap: 10px;
    padding: 10px;
    flex-direction: column;
    flex-basis: 20%;
}

.select-btn {
    display: inline-flex;
    justify-content: space-between;
    width: 250px;
    padding: 10px;
    font-size: 28px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    border: 1px solid;
}

.select-btn:hover {
    background: #000;
    color: #fff;
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
    border-radius: 50px;
    background: #292727;
    color: #fff;
    font-size: 32px;
    margin: 10px;
    transition: .3s;

}

.search-btn:hover {
    background: #fff;
    color: #000;
}

.product-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

}

.product-container .header {
    display: inline-flex;
    background: #dfe0e1;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
    border-radius: 10px;
}

.product-container .header a {
    display: inline-flex;
    color: #000;
    text-decoration: none;
    font-size: 32px;
    border-bottom: 2px solid;
    padding: 10px 30px;
    border-radius: 10px;
    transition: .3s;
}

.product-container .header a:hover {
    background: #fafcfd;
}

.product-container .header a i {
    color: #000;
    margin-left: 30px;

}

.product-container-nav {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100px;
}

.furniture-items ul {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.furniture-items ul li {
    display: inline-flex;
    gap: 50px;
    list-style: none;
    align-items: center;
}

.furniture-items a {
    padding: 20px 30px;
    text-decoration: none;
    color: #000;
    font-size: 32px;
    transition: .3s;

}

.act, .furniture-items a:hover {
    border-bottom: 1px solid;
}

.sort-btn {
    display: inline-flex;
    align-items: center;
    gap: 20px;
}

.sort-btn .btn {
    display: inline-flex;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.sort-btn .btn:hover {
    background: #bfdffb;
}

.furniture {
    display: inline-flex;
    gap: 20px;
    width: 100%;
    height: 550px;
    margin: 10px 10px;
}

.sofa-chair {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 550px;
    border-radius: 10px;
}

.sofa-chair img {
    width: 100%;
    height: 350px;
    transition: .5s;
}

.sofa-chair img:hover {
    transform: scale(1.1);
    border-radius: 10px;
}

.item-details{
    display: inline-flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-self: center;
    padding: 10px;
    margin: 10px;
}

.item-details a {
    margin-right: 20px;
    padding: 10px 30px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    color: #000;
    border-bottom: 2px solid;
}

.item-details a i {
    margin-left: 15px;
}

.item-details a:hover {
    background:#000;
    color: #fff;
}

.rating {
    border: 1px solid;
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.star {
    font-size: 24px;
    color: #928a8a;
}

.checked {
    color: orange;
}

/*===Responsive for mobile screen=== */
@media (max-width:767) {}